.main_frame {
  margin: 80px 30px 30px 15px;
}

@font-face {
  font-family: gotham;
  src: url("../fonts/Gotham-BoldItalic.ttf");
}

.logo-font {
  font-family: gotham, serif;
}

@font-face {
  font-family: gotham-bold;
  src: url("../fonts/Gotham-Bold.ttf");
}

.bold-font {
  font-family: gotham-bold, serif;
}

@font-face {
  font-family: fzzs;
  src: url("../fonts/FZSSJW.ttf");
}

.chinese-font {
  font-family: fzzs, serif;
}

.horizontal-divider-size {
  width: 1px;
}

.vertical-divider-size {
  height: 0.5px;
}
